<%= turbo_frame_tag dom_id(@reception) do %>
  <section class='col-7'>
    <%= render partial: 'shared/go_back_button', locals: { path: receptions_path } %>
    <h2 class='md-4'><%= t('page.new', model: i18n_model_name(@reception).downcase) %></h2>
    <%= render partial: 'supply_managers/receptions/form',  locals: { model: @reception, method: :post, 
    submit: t('submit.create', model: i18n_model_name(@reception).downcase) } %>
  </section>
<% end %>