<section class='col-7'>
  <% provide :page_title, t('page.edit', model: i18n_model_name(@supply_manager).downcase) %>
  <% currently_at %>

  <h1 class='md-4'><%= t('page.edit', model: i18n_model_name(@supply_manager).downcase) %></h1>
  <%= render partial: 'user/employees/form',  locals: { model: @supply_manager, method: :put, 
    submit: t('submit.edit', model: i18n_model_name(@supply_manager).downcase), path: supply_manager_path(@supply_manager) } %>
</section>
