<%= turbo_frame_tag dom_id(@company_contact) do %>
  <section class='col-7'>
    <%= render partial: 'shared/go_back_button', locals: { path: company_path(@company_contact.company) } %>
    <h3 class='my-4'><%= t('page.new', model: i18n_model_name(@company_contact).downcase) %></h1>
    <%= render partial: 'companies/company_contacts/form',  locals: { model: @company_contact, method: :post, 
      url: company_company_contacts_path(@company), submit: t('submit.create', model: i18n_model_name(@company_contact).downcase) } %>
  </section>
<% end %>
