<p>
  <%= t('page.blank', model: i18n_model_name(Department.new).downcase) %>
  <% if current_user.role == 'admin' %>
    <p>
      <%= link_to t('link.add_new', model: i18n_model_name(Department.new).downcase), 
        new_admin_department_path, class: 'btn btn-outline-primary my-2' %>
    </p>
  <% end %>
</p>