<p>
  <%= t('page.blank', model: i18n_model_name(Product.new).downcase) %>
  <% if current_user.role == 'supply manager' %>
    <p>
      <%= link_to t('link.add_new', model: i18n_model_name(Product.new).downcase), 
        new_supply_managers_product_path, class: 'btn btn-outline-primary my-2' %>
    </p>
  <% end %>
</p>