<section>
  <% provide :page_title, i18n_model_name(@products, count: 2) %>
  <% currently_at i18n_model_name(@products, count: 2) %>

  <h1><%= i18n_model_name(@products, count: 2) %></h1>
  <% if @products.try(:any?) %>
    <% if define_permition? %>
      <p>
        <%= link_to t('link.add_new', model: i18n_model_name(Product.new).downcase), 
          new_supply_managers_product_path, class: 'btn btn-outline-primary my-2' %>
      </p>
    <% end %>
    <div class='row row-cols-2'>
      <%= render partial: 'supply_managers/products/product', collection: @products %>
    </div>
  <% else %>
    <%= render 'blank' %>
  <% end %>
</section>